*{
    margin: none;
    padding: none;
}

.Navbar--container {
    width: 100%;
    height: 60px;
    background-color: #131921;
    display: flex;
    align-items: center;
    position: relative;
}

.Navbar--inner {
    width: 100%;
    display: flex;
    align-items: center;
}

.Navbar--logo {
    margin-left: 20px;
    cursor: pointer;
}

.Navbar--logo > img {
    width: 100px;
    /* height: 100px; */
    margin-top: 10px;
}

.Navbar--Searchbar {
    height: 35px;
    flex: 1;
    margin: 0px 15px;
    display: flex;
    align-items: center;
}

.Navbar--Searchbar > input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.Navbar--Searchicon {
    background-color: #8b8b8b;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 0px 5px 5px 0px;
}

.Navbar--RightContainer {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-around;
    height: 100%;
    padding: 5px 15px;
}

.Navbar--Navbutton {
    color: #fff;
    padding: 5px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-right: 15px;
}