* {
    margin: none;
    padding: none;
}

.SignUp--container {
    width: 40%;
    min-width: 450px;
    height: fit-content;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUp--form {
    border: 1px solid lightgray;
    width: 55%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.SignUp--form > input {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    align-self: flex-start;
    margin-bottom: 10px;
}
.SignUp--input
{
    width: 100%;
  padding: 10px;

  

  
}
.SignUp--input > p
{
    font-size: 14px;
    font-weight: 600;
}
.SignUp--input > input{
    width: 95%;
    height: 33px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 5px;

    &:hover {
      border: 1px solid orange;
    }
}
.SignUp--button
{
    width: 55%;
  height: 35px;
  background-color: #30332E;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  color: white;
  }